@import "variables";
@import "mixins";

.btn-link-outline {
  font-size: 1.8rem;
  color: $white;
  border: .1rem solid $white;
  padding: 1.2rem 2.5rem;
  @include flexbox();
  @include justify-content(space-between);
  @include align-items(center);
  @include transition(all, 0.2s, ease-in-out);
  margin: 1rem 0;
  &:hover {
    color: $white;
    opacity: 0.8;
  }
  span{
    margin: 0;
    padding: 0;
  }
  svg {
    margin-left: 4.5rem;
  }
}

.btn-link-filled {
  font-size: 1.8rem;
  cursor: pointer;
  color: $white;
  background: $blue;
  border: .1rem solid $white;
  padding: 1.2rem 3.5rem;
  @include flexbox();
  @include justify-content(space-between);
  @include align-items(center);
  @include transition(all, 0.2s, ease-in-out);
  margin: 1rem 0;
  &:hover {
    color: $blue;
    opacity: 0.8;
    background: $yellow;
  }
  &:focus{
    outline: none;
  }
  &:active{
    @include transform(scale(.98));
  }
  span{
    margin: 0;
    padding: 0;
  }
  svg {
    margin-left: 4.5rem;
  }
}
