@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";
.declaration-card {
  @include flexbox();
  @include justify-content(center);
  @include align-items(center);
  @include flex-direction(column);
  @media (min-width: 992px) {
    @include flex-direction(row);
    @include justify-content(space-between);
  }
  margin-bottom: 3rem;
  .left {
    @include flex(4);
    height: auto;
    margin-right: 1rem;

    @media (min-width: 992px) {
      max-width: 35rem;
    }
    .img-container {
      position: relative;
      width: 100%;
      overflow: hidden;
      height: 100%;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
  .right {
    .date {
      font-size: 1.3rem;
      color: $blue;
      @media (max-width: 992px) {
        margin-top: 1.8rem;
      }
    }
    h3 {
      color: $blue;
      font-size: 2.4rem;
      max-width: 50rem;
    }
    p {
      color: $gray;
      font-size: 1.6rem;
      padding: 0;
    }
    max-width: 80rem;
    @include flex(7);
  }
}
