@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.list-top-news{
  padding: 2rem;
  @media (min-width: 992px) {
    padding:2rem 0;
  }
  h1{
    text-align: left;
    @media (min-width: 992px) {
      text-align: left;
    }
  }
  .news-card{
    margin-right: 40px;
  }
}