@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.repports-details-page{
  .txt-description{
    font-family: 'Archivo', sans-serif;
    color: $gray;
    margin-left: 0;
    padding-left: 0;
  }
}